# misc
*.o
*.out
*.exe
*.dll
*.so
*.bak
.notes

# ides and edititors
.vs
.vscode
.idea

# webgl build
*.wasm
graph-visualizer.js
build

# icon for localhost:8000 testing in /src
src/favicon.ico

# docs
docs
